<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="648bfd">  <td>17/06/20 11:19:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:SliderTest@1cd072a9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1449621165</td>   <td></td> </tr>
<tr bgcolor="c6a873">  <td>17/06/20 11:20:16</td>   <td>32236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SliderTest.testSlider()[pri:0, instance:SliderTest@1cd072a9]">testSlider</td> 
  <td>main@1449621165</td>   <td></td> </tr>
<tr bgcolor="648bfd">  <td>17/06/20 11:20:17</td>   <td>32870</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:SliderTest@1cd072a9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1449621165</td>   <td></td> </tr>
<tr bgcolor="648bfd">  <td>17/06/20 11:20:18</td>   <td>34482</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:CalculationTest@7c75222b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1449621165</td>   <td></td> </tr>
<tr bgcolor="cf72fd">  <td>17/06/20 11:20:38</td>   <td>53817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculationTest.testValue()[pri:0, instance:CalculationTest@7c75222b]">testValue</td> 
  <td>main@1449621165</td>   <td></td> </tr>
<tr bgcolor="648bfd">  <td>17/06/20 11:20:40</td>   <td>56471</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:CalculationTest@7c75222b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1449621165</td>   <td></td> </tr>
</table>
